@import (less) "../../node_modules/fullpage.js/jquery.fullPage.css";
@import (less) "./keyrames.css";
.section {
  position: relative;
  overflow: hidden;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .ctx {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
  }
}

.page1 {
  .ctx1 {
    background-image: url('../img/layer1-assets/page1-smoke.png');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .ctx2 {
    width: 300px;
    margin: 0 auto;
    position: relative;
    margin-top: -360px;
    img {
      position: absolute;
    }
    .word1 {
      left: 0;
      top: 0;
    }
    .word2 {
      right: 0;
      top: 70px;
    }
    .word3 {
      left: 25px;
      top: 200px;
    }
    .word4 {
      right: 52px;
      top: 325px;
    }
  }
  .ctx3 {
    background-image: url('../img/layer1-assets/page1-title.png');
    width: 100%;
    height: 223px;
    position: absolute;
    margin-top: 500px;
    // bottom: 60px;
  }
  &.active {
    .word1 {
      animation: bounceIn 1s 0.5s ease both;
    }
    .word2 {
      animation: bounceIn 1s 0.8s ease both;
    }
    .word3 {
      animation: bounceIn 1s 1.1s ease both;
    }
    .word4 {
      animation: bounceIn 1s 1.3s ease both;
    }
    .ctx3 {
      animation: fadeInUp 1s 1.5s ease both;
    }
  }
}

.page2 {
  .ctx {
    position: absolute;
    left: 50%;
  }
  .ctx1 {
    height: 90px;
    margin-left: -166px;
    margin-top: -300px;
  }
  .ctx2 {
    height: 100px;
    margin-left: -168px;
    // top: 190px;
    margin-top: -200px;
  }
  .ctx3 {
    position: relative;
    margin-top: -90px;
    img {
      position: absolute;
    }
    .in {
      left: -450px;
    }
    .rich {
      left: -150px;
    }
    .new {
      left: 130px;
    }
    .high {
      left: -300px;
      margin-top: 200px;
    }
    .fast {
      left: 30px;
      margin-top: 200px;
    }
  }
  &.active {
    .ctx1 {
      animation: flipInX 0.8s 0.5s ease both;
    }
    .ctx2 {
      animation: fadeIn 1s 1.2s ease both;
    }
    .in {
      animation: flipInY 1s 1.5s ease both;
    }
    .rich {
      animation: flipInY 1s 1.8s ease both;
    }
    .new {
      animation: flipInY 1s 2.1s ease both;
    }
    .high {
      animation: flipInY 1s 2.4s ease both;
    }
    .fast {
      animation: flipInY .6s 2.7s ease both;
    }
  }
}

.page3 {
  .ctx1 {
    margin-top: -300px;
  }
  .ctx2 {
    position: absolute;
    left: 50%;
    margin-left: -536px;
    bottom: -5px;
  }
  .ctx3 {
    position: absolute;
    left: 50%;
    margin-left: -521px;
    bottom: 96px;
  }
  &.active {
    .ctx1 {
      animation: fadeInUp 1s 0.5s ease both;
    }
    .ctx2 {
      animation: fadeInUp 1s 1s ease both;
    }
    .ctx3 {
      animation: fadeInUp 1s 1.8s ease both;
    }
  }
}

.page4 {
  background-image: url('../img/symphony.png');
  background-repeat: repeat-x repeat-y;
  width: 100%;
  .ctx {
    position: absolute;
    left: 50%;
  }
  .ctx0 {
    top: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .ctx1 {
    margin-left: -292px;
    top: 60px;
  }
  .ctx2 {
    margin-left: -164px;
    margin-top: -160px;
  }
  .ctx3 {
    margin-left: -107px;
    margin-top: 200px;
  }
  .ctx4 {
    margin-left: -229px;
    margin-top: 290px;
  }
  &.active {
    .ctx0 {
      animation: fadeInDown 1s 0.5s ease both;
    }
    .ctx1 {
      animation: fadeIn 1s 1s ease both;
    }
    .ctx2 {
      animation: fadeInUp 1s 1s ease both;
    }
    .ctx3 {
      animation: fadeInUp 1s 1s ease both;
    }
  }
}

.page5 {
  background-image: url('../img/bg2.jpg');
  background-repeat: repeat-x repeat-y;
  width: 100%;
  .ctx {
    position: absolute;
    left: 50%;
  }
  .ctx0 {
    margin-left: -211px;
    top: 60px;
  }
  .ctx1 {
    margin-left: -520px;
    margin-top: -180px;
  }
  .ctx2 {
    margin-left: 0;
    margin-top: -130px;
  }
  .ctx3 {
    margin-left: -400px;
    margin-top: 0;
  }
  .ctx4 {
    margin-left: 170px;
    margin-top: 150px;
  }
  .ctx5 {
    margin-left: 120px;
    margin-top: 230px;
  }
  &.active {
    .ctx0 {
      animation: fadeInDownBig 1s 0s ease both;
    }
    .ctx1 {
      animation: fadeInLeft 1s 1s ease both;
    }
    .ctx2 {
      animation: fadeInRight 1s 1.5s ease both;
    }
    .ctx3 {
      animation: fadeInLeft 1s 2s ease both;
    }
    .ctx4 {
      animation: fadeInRight 1s 2.5s ease both;
    }
    .ctx5 {
      animation: fadeInRight 1s 3s ease both;
    }

  }

}

.page6 {
  background-image: url('../img/bg3.jpg');
  background-repeat: repeat-x repeat-y;
  width: 100%;
  .ctx {
    position: absolute;
    left: 50%;
  }
  .ctx9 {
    margin-left: -35px;
    bottom: 90px;
  }
  .ctx10 {
    margin-left: -20px;
    bottom: 40px;
  }
  .ctx11 {
    margin-left: -188px;
    bottom: 0;
  }
  .ctx8 {
    margin-left: -230px;
  }
  .ctx7 {
    margin-left: -80px;
    margin-top: -55px;
  }
  .ctx6 {
    margin-left: 0px;
    margin-top: -130px;
  }
  .ctx5 {
    margin-left: -350px;
    margin-top: -110px;
  }
  .ctx4 {
    margin-left: -270px;
    margin-top: -180px;
  }
  .ctx3 {
    margin-left: 60px;
    margin-top: -230px;
  }
  .ctx2 {
    margin-left: -400px;
    margin-top: -250px;
  }
  .ctx1 {
    margin-left: -280px;
    margin-top: -310px;
  }
  &.active{
    .ctx8{
      animation: fadeInUp 0.8s 1s ease both;
    }
    .ctx7{
      animation: fadeInUp 0.8s 1.1s ease both;
    }
    .ctx6{
      animation: fadeInUp 0.8s 1.2s ease both;
    }
    .ctx5{
      animation: fadeInUp 0.8s 1.3s ease both;
    }
    .ctx4{
      animation: fadeInUp 0.8s 1.4s ease both;
    }
    .ctx3{
      animation: fadeInUp 0.8s 1.5s ease both;
    }
    .ctx2{
      animation: fadeInUp 0.8s 1.6s ease both;
    }
    .ctx1{
      animation: fadeInUp 0.8s 1.7s ease both;
    }
    .ctx9{
      animation: bounceIn 0.8s 2.2s ease both;
    }

  }
}

.page7 {
  .ctx {
    position: absolute;
    left: 50%;
  }
  .ctx1 {
    margin-left: -20px;
    margin-top: -300px;
  }
  .ctx2 {
    margin-left: -450px;
    margin-top: -230px;
  }
  .ctx3 {
    margin-left: 80px;
    margin-top: -120px;
  }
  .ctx4 {
    margin-left: -370px;
    margin-top: -70px;
  }
  .ctx5 {
    margin-left: -75px;
    bottom: 50px;
  }
  .ctx6 {
    margin-left: -120px;
    bottom: 20px;
  }
  &.active{
    .ctx1{
      animation: bounceInRight 1s 0.2s ease both;
    }
    .ctx2{
      animation: bounceInLeft 1s 0.8s ease both;
    }
    .ctx3{
      animation: bounceInRight 1s 1.4s ease both;
    }
    .ctx4{
      animation: bounceInLeft 1s 2s ease both;
    }
    .ctx5{
      animation: fadeInDown 1s 2.8s ease both;
    }
    .ctx6{
      animation: fadeInUp 1s 2.8s ease both;
    }
  }
}

.page8 {
  .ctx {
    position: absolute;
    left: 50%;
  }
  .ctx1 {
    margin-left: -420px;
    margin-top: -250px;
  }
  .ctx2 {
    margin-left: 200px;
    margin-top: -170px;
  }
  .ctx3 {
    margin-left: 200px;
    margin-top: -120px;
  }
  .ctx4 {
    margin-left: 210px;
    margin-top: 130px;
    width: 216px;
    height: 43px;
    img {
      width: 100%;
    }
  }
  &.active{
    .ctx1{
      animation: bounceInLeft 1s 0.2s ease both;
    }
    .ctx2{
      animation: bounceInRight 1s 0.8s ease both;
    }
    .ctx3{
      animation: bounceInRight 1s 1s ease both;
    }
    .ctx4{
      animation: flipInX 2s 2.1s ease both;
    }
  }
}
